*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.UI{
    width: 15vw;
    height: 90vh;
    position: absolute;
    background-color: black;
    transition: 0.5s;
    margin: 50px 10px 50px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px 10px 0px;
    color: white;
    border: 1px solid white;
}
#leftUI{
    left: -20vw;
    top: 0;
}
#rightUI{
    right: -20vw;
    top: 0;
}

#cameraPos{
    position: absolute;
    top: 10px;
    right: 10px;
    color: lime;
}